@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

body {
    width: 1200px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.wrapper {
  padding-left: 27px;
  padding-right: 27px;
}

.wrapper-margin {
  margin-left: 27px;
  margin-right: 27px;
}

.index-body {
  background-color: #849d8f;
}

.index-body,
.catalog-body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.basic-btn {
  padding: 15px 22px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  color: #fff;

  border: none;

  border-radius: 23px;
  background: linear-gradient(#f26843, #e74a35);
  box-shadow: 0 2px rgba(172, 16, 0, 0.64);

}

.basic-btn--slider {
  padding: 15px 40px 17px;

  font-size: 32px;
  line-height: 32px;

  border-radius: 31px;
}

/*HEADER*/


.main-header {
  position: relative;
  display: flex;
  flex-direction: row;

  flex: 1;
}

.nav {
  display: flex;
  justify-content: space-between;

  flex: 2;

}

.nav__logo {
  margin-right: 24px;
}

.pages-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pages-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pages-list__item {
  margin-right: 28px;
}

.pages-list__item:last-child {
  margin-right: 0;
}

.pages-list__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;

  color: #fff;

  text-decoration: none;
  border-bottom: 1px solid #b3cbbd;
}

.user-nav {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;


  list-style: none;
}

.user-nav__item {
  margin-right: 10px;
}

.user-nav__item:last-child {
  margin-right: 0;
}

.user-nav__btn {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 14px;
  font-weight: 500;

  color: #fff;

  background: #a1b6aa;
  border: none;
}

.user-nav__btn--search {
  width: 33px;
  height: 33px;

  padding: 8px 8px;

  border-radius: 50%;
}

.user-nav__btn--login {
  padding: 6px 16px 7px;

  border-radius: 17px;
}

.user-nav__btn--cart {
  padding: 6px 33px 6px 16px;

  border-radius: 17px;
}

.user-nav__login-icon,
.user-nav__cart-icon {
  margin-right: 8px;
}

.contacts-aside {
  position: absolute;
  display: flex;
  flex-direction: column;

  right: 0;
  top: 74px;


}

.contacts-aside__schedule {
  margin-bottom: 10px;

  text-align: right;

  font-size: 14px;
  line-height: 14px;
  font-weight: 700;

  color: #fff;
}

.contacts-aside__tel {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;

  color: #fff;

  text-decoration: none;
}


/*MAIN*/


.slider-list {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 41px;
  padding: 338px 250px 0;
}

.slider-list__item::before {
  position: absolute;
  content: "";

  top: 10px;
  left: 250px;

  z-index: -10;

  width: 647px;
  height: 584px;

  background-image: url("../img/ice-cream-pair-1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-list__item-title {
  margin-bottom: 26px;

  text-align: center;

  font-size: 60px;
  line-height: 74px;

  color: #fff;
}

.promotion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 40px;
}

.promotion-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 518px;
  padding: 23px 21px;

  border-radius: 12px;
}

.promotion-block--raspberry {
  background-image: url("../img/raspberry-back.png");
  background-repeat: no-repeat;
  background-position: center;

}

.promotion-block--chocolate {
  background-image: url("../img/chocolate-back.png");
  background-repeat: no-repeat;
  background-position: center;

}

.promotion-block__title {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;

  color: #fff;
}

.promotion-block__paragraph {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;

  color: #fff;
}

.promotion-block__link {
  margin-left: auto;

  text-decoration: none;
}

.ice-cream-hits {
  display: flex;

  margin-bottom: 40px;
}

.ice-cream-hits__ice-cream-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ice-cream-list {
  margin: 0;
  padding: 0;
}

.ice-cream-list__item {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-basis: 267px;
}

.ice-cream-list__item::before {
  position: absolute;
  content: "";

  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit-cloud.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.ice-cream-list__item-image {
  margin-bottom: 13px;
}

.ice-cream-list__item-price {
  position: absolute;

  top: 214px;
  left: 0;
  
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  color: #fff;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.ice-cream-list__desc {
  margin: 0;

  text-align: center;

  font-size: 16px;
  line-height: 22px;
  font-size: 500;

  color: #fff;

  text-decoration: underline #9db1a5;
}

.about-us {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
  padding-left: 21px;
  padding-right: 28px;

  border-radius: 15px;
  background-image: url("../img/waffle-pattern.jpg");
  background-repeat: repeat;
  background-clip: padding-box;
}

.about-us__header {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;

  color: #323232;

}

.about-us__paragraph {
  margin: 0;
  padding-left: 55px;


  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 1 186px;
  
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-links__link {
  display: flex;
}

.social-links__link-self {
  display: flex;
}

.social-links__icon {
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.main-footer__footer-nav {

}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 1 306px;

}

.footer-nav__container {
  display: flex;
  flex-direction: column;
}

.footer-nav__link {
  font-size: 13px;
  line-height: 1;
  font-weight: 400;

  color: #fff;

  text-decoration: underline #9db1a5;
}

.footer-nav__link:first-child {
  margin-bottom: 10px;
}

.footer-nav__link--suppliers {
  position: relative;

  font-weight: 700;
}

.footer-nav__link--suppliers::before {
  position: absolute;
  content: "";

  left: -22px;
  top: 0;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 0 1 192px;
}

.copyright__name {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;

  color: #fff;
}

.copyright__logo {
  display: flex;

  margin-bottom: 8px;
}

.copyright__logo-self {
}

.copyright__name-company {
  font-style: normal;

  text-decoration: underline #9db1a5;
}